*{
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}


header,
footer {
    height: 100px;
    color: whitesmoke;
    background-color: blue;
    padding-left: 20px;
    padding-top: 10px;
}

h1 {
    text-align: Center;
    opacity: 1.0;
}

.nav{
    float: right;
    margin-left: 25px;
}

.nav ul li{
    display: inline-block;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

img {
    max-width: 800px;
    border: 5px;
    border-style:groove;
    border-color: greenyellow;
}

section {
    background-color: brown;
}

.border{
    border: 5px;
    border-style:groove;
    border-color: greenyellow;
}
figure{
    display: inline-block;
    margin: 0;
}
.caption {
    color: white;
    text-align: center;
} 

